* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
}
:root {
  --oq: white;
  --qora: black;
  --bg: #f7f7f7;
  --purple: #6c63ff;
}
.dark {
  --oq: black;
  --qora: white;
  --bg: #252525;
  --purple: #6c63ff;
}
.box {
  width: 900px;
  padding: 30px;
  text-align: center;
  margin: 50px auto;
}
body {
  background-color: var(--bg);
}
#input {
  width: 595px;
  border: 1px solid #6c63ff;
  height: 48px;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  outline: var(--purple);
}
h1 {
  color: var(--qora);
  margin-bottom: 20px;
}

#send,#dark {
   border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 10px;
  background-color: var(--purple);
  color: var(--oq);
}
#send:hover{
    transform: scale(1.07);
    background-color: #413bb6;
}
#dark:hover{
    transform: scale(1.07);
    background-color: #413bb6;
}

ul{
    list-style: none;
    margin: 50px 0;
    
}
ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid var(--purple);
}
li div{
    display: flex;
    align-items: center;
    gap: 15px;
}
#checkbox{
    width: 25px;
    height: 25px;
}
li p{
    color: var(--qora);
    font-size: 20px;
}
.edit-btn,.delete-btn{
   font-size: 25px;
   background-color: inherit;
   border: none;
   color: var(--purple);
   margin-left: 10px;
   padding: 2px;
}
.actions button:hover{
    transform: scale(1.2);
    border: 1px solid var(--purple);
}
#sun{
    display: none;
}